/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body .mat-toolbar{
    background-color: #3F51B5;
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.width-full{
    width: 100%;
}

body{
    margin:0;
    padding:0;
    background-color: #FAFAFA;
}

.wrapper{
    width: 1080px;
}

.display-none{
    display: none !important;
}
.ta_c {
    text-align: center
}
.wrapper {
    width: 100%;
    margin: auto
}
@media (min-width:1024px) {
    .wrapper {
        width: 1024px
    }
}