    <!-- <table>
      <thead>
        <tr>
          <td>Product Name: </td>
          <td>{{product.name}}</td>
        </tr>
        <tr>
          <td>category: </td>
          <td>{{product.category}}</td>
        </tr>
        <tr>
          <td>Active: </td>
          <td>{{product.isActive}}</td>
        </tr>
      </thead>
    </table> -->
    <ng-container *ngIf="product$ | async as product">
      <div class="wrapper">
        <div class="imageDiv">
          <img class="image" src="https://5.imimg.com/data5/KR/DJ/MY-5579477/uden-300-tablets-500x500-500x500.jpg">
        </div>
        <div class="content">
          <h1>{{product.name}}</h1>
          <div class="quantity">
              <span>Quantity: </span>
              <span *ngFor="let quantity of product.quantity.numerical">
                  <span class="quantityContent">{{quantity.qt}}</span>
              </span>
          </div>
          <div>
            {{product.description}}
          </div>
        </div>
      </div>
    </ng-container>