.wrapper{
    width: 750px;
    height: auto fit-content;
    border: 1px solid #524d4d1e;
    margin-top: 20px;
    color: #1d2129;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

h1 {
    color: #1d2129;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.imageDiv{
    display: inline-block;
    width:350px;
    height: 350px;
}

.image {
    max-width: 350px;
    max-height: 350px;
    
}
.content{
    vertical-align: top;
    max-width: 350px;
    max-height: 350px;
    display: inline-block;
}
.quantity{
    margin: 30px 5px;
}
.quantityContent{
    padding: 3px 8px;
    margin-right: 10px;
    font-size: 11px;
    background-color: #cfd1d4;
    border-radius: 2px;
    color: #444444;
}