<form class="example-form">
    <mat-form-field class="example-full-width in-width">
      <input matInput #inputData (keyup)="getSearchProducts(inputData.value)" 
      placeholder="Search a product" 
      aria-label="State" [matAutocomplete]="auto" [formControl]="myControl">
  
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let product of retrivedProducts$ | async"
            (click) = "loadProduct(product)"
            [value]="">
          <span>{{product.name}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  