<header>
    <mat-toolbar>
            <span class = "logo"></span>
        <nav>
            
            <span><app-searchbox> </app-searchbox></span>
        </nav>
        <a href="/">Home</a>
    </mat-toolbar>
  </header>
  