.logo{
    background-image: url(/../../../../assets/download.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 35px;
}

a, a:active, a:focus, a:hover {
    margin-left: 40px;
    color:#333;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}