mat-card-title {
  color: #3578E5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
}

mat-card-title:hover {
  text-decoration: underline;
}

.example-card {
    max-width: 400px;
    margin: 0 auto;
}
  
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}