<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title (click) = "loadProduct(product)">{{product.name}}</mat-card-title>
    </mat-card-header>
    <ng-container *ngFor="let image of product.image.images">
        <img mat-card-image *ngIf="image.primary" src="{{image.imageUrl}}" alt="{{product.description}}">
    </ng-container>
    <mat-card-content>
        {{product.description}}
    </mat-card-content>
  </mat-card>
